.root {
  background: rgba(135, 202, 161, 1);
  width: auto;
  height: auto;
  display: inline-flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border-radius: 8px;
  padding: 20px 24px;
}
.text {
  display: block;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
