@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Play%3Aital%2Cwght%400%2C400%3B0%2C700&display=swap");

.plasmic_default_styles {
  --mixin-PI38sX4ig1Lq_font-family: "Inter";
  --mixin-PI38sX4ig1Lq_font-size: 16px;
  --mixin-PI38sX4ig1Lq_font-weight: 400;
  --mixin-PI38sX4ig1Lq_font-style: normal;
  --mixin-PI38sX4ig1Lq_color: #535353;
  --mixin-PI38sX4ig1Lq_text-align: left;
  --mixin-PI38sX4ig1Lq_text-transform: none;
  --mixin-PI38sX4ig1Lq_line-height: 1.5;
  --mixin-PI38sX4ig1Lq_letter-spacing: normal;
  --mixin-PI38sX4ig1Lq_white-space: pre-wrap;
  --mixin-PI38sX4ig1Lq_user-select: text;
  --mixin-PI38sX4ig1Lq_text-decoration-line: none;
  --mixin-PI38sX4ig1Lq_text-overflow: clip;
  --mixin-OsrWw6YuDbl1_color: #000000;
  --mixin-OsrWw6YuDbl1_font-weight: 900;
  --mixin-OsrWw6YuDbl1_font-size: 72px;
  --mixin-OsrWw6YuDbl1_line-height: 1;
  --mixin-OsrWw6YuDbl1_letter-spacing: -4px;
  --mixin-fb7B7cs0vXih_font-family: "Inter";
  --mixin-fb7B7cs0vXih_color: #000000;
  --mixin-fb7B7cs0vXih_font-size: 48px;
  --mixin-fb7B7cs0vXih_font-weight: 700;
  --mixin-fb7B7cs0vXih_letter-spacing: -1px;
  --mixin-fb7B7cs0vXih_line-height: 1.1;
  --mixin-7AmOUHBrkk7c_color: #0070f3;
  --mixin-AuV_VoAx96Ga_font-family: "Inter";
  --mixin-AuV_VoAx96Ga_color: #000000;
  --mixin-AuV_VoAx96Ga_font-size: 32px;
  --mixin-AuV_VoAx96Ga_font-weight: 600;
  --mixin-AuV_VoAx96Ga_letter-spacing: -0.8px;
  --mixin-AuV_VoAx96Ga_line-height: 1.2;
  --mixin-cSUmAeolZRmc_font-family: "Inter";
  --mixin-cSUmAeolZRmc_color: #000000;
  --mixin-cSUmAeolZRmc_font-size: 24px;
  --mixin-cSUmAeolZRmc_font-weight: 600;
  --mixin-cSUmAeolZRmc_letter-spacing: -0.5px;
  --mixin-cSUmAeolZRmc_line-height: 1.3;
  --mixin-9lwHgQBtvatV_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9lwHgQBtvatV_border-bottom-color: #dddddd;
  --mixin-9lwHgQBtvatV_border-bottom-style: solid;
  --mixin-9lwHgQBtvatV_border-bottom-width: 1px;
  --mixin-9lwHgQBtvatV_border-left-color: #dddddd;
  --mixin-9lwHgQBtvatV_border-left-style: solid;
  --mixin-9lwHgQBtvatV_border-left-width: 1px;
  --mixin-9lwHgQBtvatV_border-right-color: #dddddd;
  --mixin-9lwHgQBtvatV_border-right-style: solid;
  --mixin-9lwHgQBtvatV_border-right-width: 1px;
  --mixin-9lwHgQBtvatV_border-top-color: #dddddd;
  --mixin-9lwHgQBtvatV_border-top-style: solid;
  --mixin-9lwHgQBtvatV_border-top-width: 1px;
  --mixin-9lwHgQBtvatV_border-bottom-left-radius: 3px;
  --mixin-9lwHgQBtvatV_border-bottom-right-radius: 3px;
  --mixin-9lwHgQBtvatV_border-top-left-radius: 3px;
  --mixin-9lwHgQBtvatV_border-top-right-radius: 3px;
  --mixin-9lwHgQBtvatV_font-family: "Inconsolata";
  --mixin-9lwHgQBtvatV_padding-bottom: 1px;
  --mixin-9lwHgQBtvatV_padding-left: 4px;
  --mixin-9lwHgQBtvatV_padding-right: 4px;
  --mixin-9lwHgQBtvatV_padding-top: 1px;
  --mixin-O5G_3TO1dmz0_border-left-color: #dddddd;
  --mixin-O5G_3TO1dmz0_border-left-style: solid;
  --mixin-O5G_3TO1dmz0_border-left-width: 3px;
  --mixin-O5G_3TO1dmz0_color: #888888;
  --mixin-O5G_3TO1dmz0_padding-left: 10px;
  --mixin-PDinncWjsOaq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-PDinncWjsOaq_border-bottom-color: #dddddd;
  --mixin-PDinncWjsOaq_border-bottom-style: solid;
  --mixin-PDinncWjsOaq_border-bottom-width: 1px;
  --mixin-PDinncWjsOaq_border-left-color: #dddddd;
  --mixin-PDinncWjsOaq_border-left-style: solid;
  --mixin-PDinncWjsOaq_border-left-width: 1px;
  --mixin-PDinncWjsOaq_border-right-color: #dddddd;
  --mixin-PDinncWjsOaq_border-right-style: solid;
  --mixin-PDinncWjsOaq_border-right-width: 1px;
  --mixin-PDinncWjsOaq_border-top-color: #dddddd;
  --mixin-PDinncWjsOaq_border-top-style: solid;
  --mixin-PDinncWjsOaq_border-top-width: 1px;
  --mixin-PDinncWjsOaq_border-bottom-left-radius: 3px;
  --mixin-PDinncWjsOaq_border-bottom-right-radius: 3px;
  --mixin-PDinncWjsOaq_border-top-left-radius: 3px;
  --mixin-PDinncWjsOaq_border-top-right-radius: 3px;
  --mixin-PDinncWjsOaq_font-family: "Inconsolata";
  --mixin-PDinncWjsOaq_padding-bottom: 3px;
  --mixin-PDinncWjsOaq_padding-left: 6px;
  --mixin-PDinncWjsOaq_padding-right: 6px;
  --mixin-PDinncWjsOaq_padding-top: 3px;
  --mixin-R4QMh76_ZXWtv_display: flex;
  --mixin-R4QMh76_ZXWtv_flex-direction: column;
  --mixin-R4QMh76_ZXWtv_align-items: stretch;
  --mixin-R4QMh76_ZXWtv_justify-content: flex-start;
  --mixin-R4QMh76_ZXWtv_list-style-position: outside;
  --mixin-R4QMh76_ZXWtv_padding-left: 40px;
  --mixin-R4QMh76_ZXWtv_position: relative;
  --mixin-R4QMh76_ZXWtv_list-style-type: disc;
  --mixin-phAHSGdmru5PQ_display: flex;
  --mixin-phAHSGdmru5PQ_flex-direction: column;
  --mixin-phAHSGdmru5PQ_align-items: stretch;
  --mixin-phAHSGdmru5PQ_justify-content: flex-start;
  --mixin-phAHSGdmru5PQ_list-style-position: outside;
  --mixin-phAHSGdmru5PQ_padding-left: 40px;
  --mixin-phAHSGdmru5PQ_position: relative;
  --mixin-phAHSGdmru5PQ_list-style-type: decimal;
  --mixin-SAyTJFjLIJ0qI_font-family: "Inter";
  --mixin-SAyTJFjLIJ0qI_color: #000000;
  --mixin-SAyTJFjLIJ0qI_font-size: 20px;
  --mixin-SAyTJFjLIJ0qI_font-weight: 600;
  --mixin-SAyTJFjLIJ0qI_letter-spacing: -0.3px;
  --mixin-SAyTJFjLIJ0qI_line-height: 1.5;
  --mixin-wSe7ViWGiJxDm_font-family: "Inter";
  --mixin-wSe7ViWGiJxDm_color: #000000;
  --mixin-wSe7ViWGiJxDm_font-size: 16px;
  --mixin-wSe7ViWGiJxDm_font-weight: 600;
  --mixin-wSe7ViWGiJxDm_line-height: 1.5;
  --mixin-Z_lqmPhE4H8gh_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-PI38sX4ig1Lq_font-family);
  font-size: var(--mixin-PI38sX4ig1Lq_font-size);
  font-weight: var(--mixin-PI38sX4ig1Lq_font-weight);
  font-style: var(--mixin-PI38sX4ig1Lq_font-style);
  color: var(--mixin-PI38sX4ig1Lq_color);
  text-align: var(--mixin-PI38sX4ig1Lq_text-align);
  text-transform: var(--mixin-PI38sX4ig1Lq_text-transform);
  line-height: var(--mixin-PI38sX4ig1Lq_line-height);
  letter-spacing: var(--mixin-PI38sX4ig1Lq_letter-spacing);
  white-space: var(--mixin-PI38sX4ig1Lq_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-OsrWw6YuDbl1_color);
  font-weight: var(--mixin-OsrWw6YuDbl1_font-weight);
  font-size: var(--mixin-OsrWw6YuDbl1_font-size);
  line-height: var(--mixin-OsrWw6YuDbl1_line-height);
  letter-spacing: var(--mixin-OsrWw6YuDbl1_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-fb7B7cs0vXih_font-family);
  color: var(--mixin-fb7B7cs0vXih_color);
  font-size: var(--mixin-fb7B7cs0vXih_font-size);
  font-weight: var(--mixin-fb7B7cs0vXih_font-weight);
  letter-spacing: var(--mixin-fb7B7cs0vXih_letter-spacing);
  line-height: var(--mixin-fb7B7cs0vXih_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-7AmOUHBrkk7c_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-AuV_VoAx96Ga_font-family);
  color: var(--mixin-AuV_VoAx96Ga_color);
  font-size: var(--mixin-AuV_VoAx96Ga_font-size);
  font-weight: var(--mixin-AuV_VoAx96Ga_font-weight);
  letter-spacing: var(--mixin-AuV_VoAx96Ga_letter-spacing);
  line-height: var(--mixin-AuV_VoAx96Ga_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-cSUmAeolZRmc_font-family);
  color: var(--mixin-cSUmAeolZRmc_color);
  font-size: var(--mixin-cSUmAeolZRmc_font-size);
  font-weight: var(--mixin-cSUmAeolZRmc_font-weight);
  letter-spacing: var(--mixin-cSUmAeolZRmc_letter-spacing);
  line-height: var(--mixin-cSUmAeolZRmc_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-9lwHgQBtvatV_background);
  font-family: var(--mixin-9lwHgQBtvatV_font-family);
  border-radius: var(--mixin-9lwHgQBtvatV_border-top-left-radius)
    var(--mixin-9lwHgQBtvatV_border-top-right-radius)
    var(--mixin-9lwHgQBtvatV_border-bottom-right-radius)
    var(--mixin-9lwHgQBtvatV_border-bottom-left-radius);
  padding: var(--mixin-9lwHgQBtvatV_padding-top)
    var(--mixin-9lwHgQBtvatV_padding-right)
    var(--mixin-9lwHgQBtvatV_padding-bottom)
    var(--mixin-9lwHgQBtvatV_padding-left);
  border-top: var(--mixin-9lwHgQBtvatV_border-top-width)
    var(--mixin-9lwHgQBtvatV_border-top-style)
    var(--mixin-9lwHgQBtvatV_border-top-color);
  border-right: var(--mixin-9lwHgQBtvatV_border-right-width)
    var(--mixin-9lwHgQBtvatV_border-right-style)
    var(--mixin-9lwHgQBtvatV_border-right-color);
  border-bottom: var(--mixin-9lwHgQBtvatV_border-bottom-width)
    var(--mixin-9lwHgQBtvatV_border-bottom-style)
    var(--mixin-9lwHgQBtvatV_border-bottom-color);
  border-left: var(--mixin-9lwHgQBtvatV_border-left-width)
    var(--mixin-9lwHgQBtvatV_border-left-style)
    var(--mixin-9lwHgQBtvatV_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-O5G_3TO1dmz0_color);
  padding-left: var(--mixin-O5G_3TO1dmz0_padding-left);
  border-left: var(--mixin-O5G_3TO1dmz0_border-left-width)
    var(--mixin-O5G_3TO1dmz0_border-left-style)
    var(--mixin-O5G_3TO1dmz0_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-PDinncWjsOaq_background);
  font-family: var(--mixin-PDinncWjsOaq_font-family);
  border-radius: var(--mixin-PDinncWjsOaq_border-top-left-radius)
    var(--mixin-PDinncWjsOaq_border-top-right-radius)
    var(--mixin-PDinncWjsOaq_border-bottom-right-radius)
    var(--mixin-PDinncWjsOaq_border-bottom-left-radius);
  padding: var(--mixin-PDinncWjsOaq_padding-top)
    var(--mixin-PDinncWjsOaq_padding-right)
    var(--mixin-PDinncWjsOaq_padding-bottom)
    var(--mixin-PDinncWjsOaq_padding-left);
  border-top: var(--mixin-PDinncWjsOaq_border-top-width)
    var(--mixin-PDinncWjsOaq_border-top-style)
    var(--mixin-PDinncWjsOaq_border-top-color);
  border-right: var(--mixin-PDinncWjsOaq_border-right-width)
    var(--mixin-PDinncWjsOaq_border-right-style)
    var(--mixin-PDinncWjsOaq_border-right-color);
  border-bottom: var(--mixin-PDinncWjsOaq_border-bottom-width)
    var(--mixin-PDinncWjsOaq_border-bottom-style)
    var(--mixin-PDinncWjsOaq_border-bottom-color);
  border-left: var(--mixin-PDinncWjsOaq_border-left-width)
    var(--mixin-PDinncWjsOaq_border-left-style)
    var(--mixin-PDinncWjsOaq_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-R4QMh76_ZXWtv_display);
  flex-direction: var(--mixin-R4QMh76_ZXWtv_flex-direction);
  align-items: var(--mixin-R4QMh76_ZXWtv_align-items);
  justify-content: var(--mixin-R4QMh76_ZXWtv_justify-content);
  list-style-position: var(--mixin-R4QMh76_ZXWtv_list-style-position);
  padding-left: var(--mixin-R4QMh76_ZXWtv_padding-left);
  position: var(--mixin-R4QMh76_ZXWtv_position);
  list-style-type: var(--mixin-R4QMh76_ZXWtv_list-style-type);
  flex-column-gap: var(--mixin-R4QMh76_ZXWtv_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-phAHSGdmru5PQ_display);
  flex-direction: var(--mixin-phAHSGdmru5PQ_flex-direction);
  align-items: var(--mixin-phAHSGdmru5PQ_align-items);
  justify-content: var(--mixin-phAHSGdmru5PQ_justify-content);
  list-style-position: var(--mixin-phAHSGdmru5PQ_list-style-position);
  padding-left: var(--mixin-phAHSGdmru5PQ_padding-left);
  position: var(--mixin-phAHSGdmru5PQ_position);
  list-style-type: var(--mixin-phAHSGdmru5PQ_list-style-type);
  flex-column-gap: var(--mixin-phAHSGdmru5PQ_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-SAyTJFjLIJ0qI_font-family);
  color: var(--mixin-SAyTJFjLIJ0qI_color);
  font-size: var(--mixin-SAyTJFjLIJ0qI_font-size);
  font-weight: var(--mixin-SAyTJFjLIJ0qI_font-weight);
  letter-spacing: var(--mixin-SAyTJFjLIJ0qI_letter-spacing);
  line-height: var(--mixin-SAyTJFjLIJ0qI_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-wSe7ViWGiJxDm_font-family);
  color: var(--mixin-wSe7ViWGiJxDm_color);
  font-size: var(--mixin-wSe7ViWGiJxDm_font-size);
  font-weight: var(--mixin-wSe7ViWGiJxDm_font-weight);
  line-height: var(--mixin-wSe7ViWGiJxDm_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-Z_lqmPhE4H8gh_color);
}
